<div class="button_div">
  <%= button_to "Take a new pictures", new_photo_path, :method => "get", :class => 'picture_button' %>
</div>

<div class="image_div">
  <iframe name="print_image" frameborder="0" scrolling = "no" width="500" height = "600" src="createimage"></iframe>
</div>


