<!DOCTYPE html>
<html>
<head>
  <title>Photo Booth</title>
  <%= stylesheet_link_tag :application, 'bootstrap' %>
  <%= javascript_include_tag :application, 'bootstrap', 'raphael' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
